@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'CloisterBlack';
    src: url('../font/CloisterBlack.ttf');
}

@font-face {
    font-family: 'nanum-regular';
    src: url('../font/NanumGothicCoding-Regular.ttf');
}

html {
    font-family: "nanum-regular";
}

h1 {
    font-family: "CloisterBlack";
}